<div id="delete-user">

	<% if logged_in? && current_user?(@user) %>
		<%= link_to "Delete this account", @user, method: :delete,
		            data: { confirm: "Sure you want to delete this account?"} %>
	<% end %>

</div>