<% provide(:subtitle, "Edit your account") %>
<% provide(:button_text, "save changes") %>

<div class="container-fluid form", id="edit-form">
  <%= render 'signup_form' %>
  <%= render 'delete_user' %>
</div>