<% if @posts.nil? || @posts.empty?%>
	<h2>No images to display ...</h2>

<% else %>
	<div id="all-posts" class="masonry centered" >
		<% @posts.each do |post| %>
			<div class="box">
				<%= image_tag(post.url, width: "300px", alt: post.description) %>
				<p> <%= post.description %> </p>
			</div>
		<% end %>
	</div>

<% end %>