<div class="container-fluid">
	<h1>pixnik</h1>
	<h4>Post a picture below.</h4>
</div>

<div class="container-fluid" id="new-posts-form">
		<%= render 'form' %>
</div>

<div class="container-fluid" id="posts-board">
	<%= render 'board' %>
</div>