<% provide(:subtitle, "Post a photo below.") %>

<% if flash.any? %>
	<%= javascript_tag "$(document).ready(function() { show_post_form(); });" %>
<% end %>

<div class="container-fluid" id="new-post">
	<button id="new-post-button" class="btn btn-primary toggle">
		New Post
	</button>
	<div id="post-form" class="form">
		<%= render 'post_form' %>
	</div>
</div>

<div class="container-fluid" id="posts-board">
	<%= render 'board' %>
</div>