<div class="container-fluid" id="top-info">
	<% if !logged_in? %>
		<%= link_to "Sign up", signup_path, 
			id: "sign-up-button", class: "btn btn-primary submit" %>
	<% end %>

	<div id="tag_cloud" class="row">
		<% unless Post.tag_counts.blank? %>
		<% tag_cloud Post.tag_counts do |tag| %>
			<%= link_to tag.name, tag_path(tag.name), 
					class: "col-xs-4 col-md-2 btn btn-primary",
					id: 'tag_cloud_button' %>
		<% end %>
		<% end %>
	</div>
</div>

<div class="container-fluid" id="posts-board">
	<%= render 'shared/board' %>
</div>
